* {
    font-family: 'Inter', sans-serif;
}


/* Colors */

.pink-btn {
    background-color: #DD2590 !important;
}

.green-btn {
    background-color: #2FB67E !important;
}

.yellow-btn {
    background-color: #ECB22D !important;
}

.blue-text {
    color: #094BCA !important;
}

.bg-icon {
    background-color: rgba(236, 178, 45, 0.1);
    border-radius: 100%;
    padding: 5px;
}

.bdg-bgc {
    background-color: #1361F51A !important;
}
